# ignore generated systemd files
*.wants

# ignore generated lazy-lock file
lazy-lock.json

# ignore smbcredentials file
smbcredentials

# ignore superslicer cache lock files
config/superslicer/dot-config/SuperSlicer/cache/*.lock
